#!/bin/zsh

id=$1
class=$2
instance=$3

wm_name=$(xprop -id $id WM_NAME | grep -Po "\".*\"")

echo $* > /tmp/extrules

if [ "$class" == "Alacritty" ]; then
    case $wm_name in
        "scratchpad")
            echo "state=floating sticky=on"
            ;;
    esac
fi
