#!/bin/bash

id=$1
class=$2
instance=$3

if [ "$class" == "Firefox" ]; then
	case "$(xprop -id $id WM_NAME | grep -Po "\".*\"")" in
		*"- Vimperator"*)
			echo "private=on desktop=^1"
			;;
	esac
elif [ "$class" == "Termite" ]; then
	echo ""
fi

echo $* > /tmp/extrules
